{% extends 'base.html' %}

{% block title %}Login - Durbar Cinemax{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('verifyAndRenderRespective') }}">
    <div class="box login-form-box">
        {% if message %}
        <div class="notification is-danger is-light">
            {{ message }}
        </div>
        {% endif %}

        <div class="field mt-4">
            <label class="label mb-2" for="username">Username</label>
            <div class="control has-icons-left">
                <input id="username" class="input" type="text" name="username" placeholder="Username" autocomplete="username" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field mt-4">
             <label class="label mb-2" for="password">Password</label>
            <div class="control has-icons-left">
                <input id="password" class="input" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field mt-4">
            <div class="control">
                <button type="submit" class="button is-warning is-fullwidth">Login</button>
            </div>
        </div>
    </div>
</form> {% endblock %}