<h4 class="title is-4 has-text-centered mb-5">Available Seats</h4> <div>
    <h5 class="subtitle is-5 has-text-centered has-text-warning mb-3">
        <i class="fas fa-star mr-1"></i> Gold Class
    </h5>
    <div class="buttons is-centered is-multiline">
        {% for seat in goldSeats %}
            <button class="button is-warning is-light"
                    onclick="selectSeat({{ seat[0] }},'gold')"
                    {% if seat[1] == 'disabled' %}disabled{% endif %}>
                {{ seat[0] }}
            </button>
        {% endfor %}
    </div>
</div>

<div class="mt-5"> <h5 class="subtitle is-5 has-text-centered mb-3">
       <i class="fas fa-couch mr-1"></i> Standard Class
    </h5>
    <div class="buttons is-centered is-multiline">
        {% for seat in standardSeats %}
            <button class="button is-info is-light"
                    onclick="selectSeat({{ seat[0] }},'standard')"
                    {% if seat[1] == 'disabled' %}disabled{% endif %}>
                {{ seat[0] }}
            </button>
        {% endfor %}
    </div>
</div>